body {
    font:"DejaVu Sans" !important ;
    font-family:"DejaVu Sans", sans-serif !important ;
    font-family:"DejaVu Sans", serif !important ;
    font-family:"DejaVu Sans", monospace !important ;
    font-size:12px;
}
 
pre {
    font-size:12px;
}
 
p {
    font-size:12px;
}
 
input {
    font-size:12px;
    background-color: #ebf1f5 !important;
    border: 1px solid #bbbbbb !important;
    outline: none !important;
    color: #343434 !important;
}
 
input:hover {
    font-size:12px;
    background-color: #dedcdf !important;
    border: 1px solid #bbbbbb !important;
    outline: none;
    color: #343434;
}
 
img {
    font-size:12px;
}
 
textarea {
    font-size:12px;
    background-color: #ebf1f5;
    border: 1px solid #bbbbbb;
    outline: none;
    color: #343434;
}
 
.box {
    font-size:12px;
}

h1,h2,h3,h4,h5,h6 {
    font-size:12px;
}
 
a:link {
    font-size:12px;
    text-decoration: none !important;
    outline: none;
}
 
a:active {
    font-size:12px;
    text-decoration: none !important;
    outline: none;
}
 
a:hover {
    font-size:12px;
    text-decoration: none !important;
    outline: none;
}
 
a:visited {
    font-size:12px;
    text-decoration: none !important;
    outline: none;
}
 
td {
    font-size:12px;
}
 
tr {
    font-size:12px;
}
 
dl {
    font-size:12px;
}

dd {
    font-size:12px;
}
 
th {
    font-size:12px;
}
 
li {
    font-size:12px;
}
 
ul {
    font-size:12px;
}
 
ol {
    font-size:12px;
}
 
blockquote {
    font-size:12px;
}
 
div.postright, div.postfootright, div.box {
    font-size:12px;
}
 
div {
    font-size:12px;
}
 
div.incqbox, div.codebox,div.scrollbox {
    font-size:12px;
}
