[user]
  name = milomouse (Vincent Anonymouse)
  email = ixsolaris86@gmail.com
[diff]
  tool = /usr/bin/vimdiff
[color]
  ui = true
  pager = true
  diff = auto
  status = auto
  branch = auto
  interactive = auto
[color "branch"]
  current = cyan reverse
  local = cyan
  remote = blue
[color "diff"]
  meta = red bold
  frag = yellow bold
  new = magenta
  old = magenta bold
[color "status"]
  added = cyan
  changed = magenta
  untracked = blue
[sendmail]
  supressfrom = true
  chainreplyto = false
  thread = true
  compose = true
  confirm = auto
[alias]
  tree = log --graph --pretty=oneline --decorate
  amend = commit --amend -C HEAD
[core]
  whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
  editor = /usr/bin/vim
  pager = /usr/bin/less
[apply]
  whitespace = strip
[push]
  default = simple
[init]
  defaultBranch = master
