##// ~/.rtorrent.rc [extended version]
##// milomouse

#// connection
port_range = 49164-49164
encryption = allow_incoming,try_outgoing,enable_retry
peer_exchange = yes
enable_trackers = yes
tracker_numwant = 64
use_udp_trackers = yes
dht = auto
dht_port = 6881
encoding_list = UTF-8

#// {up,down}loads
directory = /howl/tors/
session = /howl/tors/.sess
max_uploads = 24
max_uploads_global = 24
upload_rate = 5
max_downloads_global = 241
download_rate = 0
max_peers = 82
max_peers_seed = 24
check_hash = yes

#// watch dirs -> destination dirs
schedule = watch_directory1,5,7,"load=/howl/tors/foto/.down/*.torrent,d.set_directory=/howl/tors/foto/"
schedule = watch_directory2,5,5,"load=/howl/tors/muzk/.down/*.torrent,d.set_directory=/howl/tors/muzk/"
schedule = watch_directory3,5,8,"load=/howl/tors/othe/.down/*.torrent,d.set_directory=/howl/tors/othe/"
schedule = watch_directory4,5,6,"load=/howl/tors/vide/.down/*.torrent,d.set_directory=/howl/tors/vide/"
schedule = watch_directory5,5,8,"load=/howl/tors/book/.down/*.torrent,d.set_directory=/howl/tors/book/"

#// filter out evil:-suspicious ip ranges (these lists cover ~45K ranges ATM)
ip_filter = /howl/conf/.ipfilters/level1,/howl/conf/.ipfilters/level2,/howl/conf/.ipfilters/level3,/howl/conf/.ipfilters/bogon,/howl/conf/.ipfilters/dshield,/howl/conf/.ipfilters/Microsoft
schedule = filter,18:30:00,24:00:00,reload_ip_filter=

#// miscellaneous
schedule = filter_active,10,10,"view_filter = active,d.get_down_rate="
schedule = tied_directory,5,60,start_tied=
schedule = untied_directory,5,60,close_untied=
schedule = low_diskspace,5,60,"close_low_diskspace=200M"
system.method.set_key = event.download.finished,notify_stumpwm,"execute=/usr/local/bin/stumpbark,$d.get_base_filename="

#// no longer used [but possibly useful in the future]
#//scgi_local = /dev/shm/.1009/rtorrent-xmlrpc.socket
#//schedule = chmod,0,0,"execute=chmod,777,/dev/shm/.1009/rtorrent-xmlrpc.socket"
