/* $XDG_DATA_HOME/luakit/styles/mouse.css */

/* body {
    font:"DejaVu Sans" !important ;
    font-family:"DejaVu Sans", sans-serif !important ;
    font-family:"DejaVu Sans", serif !important ;
    font-family:"DejaVu Sans", monospace !important ;
    font-size:12px;
} */
input {
    background-color: #ebf1f5 !important;
    color: #343434 !important;
/*    font-size:12px;
    border: 1px solid #bbbbbb !important;
    outline: none !important; */
}
input:hover {
    background-color: #dedcdf !important;
    color: #343434 !important;
/*    font-size:12px;
    border: 1px solid #bbbbbb !important;
    outline: none; */
}
textarea {
    background-color: #ebf1f5 !important;
    color: #343434 !important;
/*    font-size:12px;
    border: 1px solid #bbbbbb;
    outline: none; */
}
/* a:link {
    font-size:12px;
    text-decoration: none !important;
    outline: none;
}
a:active {
    font-size:12px;
    text-decoration: none !important;
    outline: none;
}
a:hover {
    font-size:12px;
    text-decoration: none !important;
    outline: none;
}
a:visited {
    font-size:12px;
    text-decoration: none !important;
    outline: none;
}
pre,p {
    font-size:12px;
}
.box,h1,h2,h3,h4,h5,h6 {
    font-size:12px;
}
td,tr,dl,dd,th,li,ul,cl,blockquote {
    font-size:12px;
}
div,div.postright,div.postfootright,div.box,div.incqbox,div.codebox,div.scrollbox {
    font-size:12px;
} */
